.wrap-full-page.wrap-full-page_announcement {
    padding-top: 0;
}

.announcement {
    z-index: 0;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(255, 244, 74, 1) 0%, rgba(255, 252, 210, 1) 50%, rgba(255, 244, 74, 1) 100%);
    @include radial-gradient(#fffcd2, #fff44a);
    &__font-image {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    &__slider-wrap {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    &__el {
        text-decoration: none;
    }
    &__container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__font-image {
        overflow: hidden;
        margin: auto;
        position: relative;
    }
    &__slider-wrap {
        margin: auto;
        overflow: hidden;
        position: relative;
    }
    &__title {
        color: #6e3d1a;
        font-family: "Nexa Script";
        font-size: 97px;
        font-weight: 800;
        line-height: 97.9px;
        margin-top: -2%;
        max-width: 80%;
    }
    &__img {
        &_bg {
            width: 100%;
            height: auto;
            transform: translate(0, 0);
            animation: anonsanim 2s;
            &-mobile {
                width: 100%;
                height: auto;
                display: none;
            }
        }
    }
    .img-trs {
        &__img-bg {
            &_person-man,
            &_person-girl,
            &_person-pretty {
                bottom: 8%;
            }
        }
    }
    .background-svg {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__img {
            background-image: url("/img/announcement/plane-ball-bg.png");
            background-repeat: repeat-y;
            width: 27%;
            background-size: contain;
        }
    }
    .road-map {
        &_announcement {
            .btn {
                width: unset;
                padding: 1rem 3rem;
                &_yel {
                    color: $text-color1;
                }
            }
            .road-map__img {
                &_1 {
                    max-width: 100%;
                }
                &_2 {
                    transform: translateX(-47%);
                }
            }
        }
    }
    @include adaptive($phone) {
        &__slider-wrap,
        &__font-image {
            width: 100%;
            border-radius: 0% 0% 200vh 200vh / 0% 0% 20vh 20vh;
        }
        &__img {
            &_bg {
                display: none;
                &-mobile {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    @include adaptive(1366) {
        .road-map {
            padding-top: 0;
            padding-bottom: 0;
        }
        .container {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    @include adaptive($phone) {
        .img-trs {
            height: 600px;
            width: 90%;
            left: 50%;
            transform: translate(-50%, 0);
            &__img-bg {
                &_person-chocolate {
                    left: 50%;
                    transform: translate(-50%, 0);
                    bottom: 2vh;
                    width: 100%;
                }
                &_person-bgup {
                    &.trs-mob {
                        display: none!important;
                    }
                }
                &_person-dialog {
                    &.trs-mob {
                        display: none!important;
                    }
                }
                &_person-spain,
                &_person-rio,
                &_person-havai {
                    display: block;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    max-height: 40vh;
                }
                &_person-pretty,
                &_person-man,
                &_person-girl {
                    left: 50%;
                    transform: translate(-50%, 0);
                    max-width: 280px;
                }
                &_person-dialog-wrap {
                    left: 50%;
                    transform: translate(-50%, 0);
                    bottom: 5vh;
                    top: auto;
                }
                &_person-dialog-ship {
                    &.trs-mob {
                        display: none!important;
                    }
                }
            }
        }
    }
}

@keyframes anonsanim {
    from {
        transform: translate(0, -100%);
    }
    to {
        transform: translate(0, 0%);
    }
}