.home {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(255, 244, 74, 1) 0%, rgba(255, 252, 210, 1) 50%, rgba(255, 244, 74, 1) 100%);
    @include radial-gradient(#fffcd2, #fff44a);
    &__container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        color: #6e3d1a;
        font-family: "Nexa Script";
        font-size: 97px;
        font-weight: 800;
        line-height: 97.9px;
        margin-top: -2%;
        max-width: 80%;
    }

    &__font-image {
        width: 100vw\0;
    }
    &__slider-wrap {
        transition: 5s;
        width: auto;
    }
    &__img-bg {
        transition: 5s;
        &_person {
            display: block;
            opacity: 0;
            position: absolute;
            transition: 1.5s ease-in-out;
            width: auto;
            top: 0;
            z-index: 1;
            left: 50%;
            transform: translate(-50%);
            max-width: 100%;
            transition: 5s;
            &.visible {
                opacity: 1;
                z-index: 5;
            }

            &-chocolate,
            &-title {
                position: relative;
                opacity: 1;
                left: 50%;
                transform: translate(-50%);
                width: auto;
                margin: auto;
                max-width: 100%;
                z-index: 11;
                transition: 5s;
            }

            &-chocolate {
                width: auto;
                height: auto;
                max-height: 60%;
                max-height: 70%;
                z-index: 9;
                transform: translate(-50%);
                display: block;
                position: absolute;
                bottom: 10%;
            }

            &-havai,
            &-rio,
            &-maldiv {
                width: auto;
                height: auto;
                max-width: 27%;
                max-height: 80%;
                z-index: 12;
                display: block;
                position: absolute;
                max-height: 100%;
                bottom: 1%;
                right: 7%;
            }

            &-girl,
            &-man,
            &-pretty {
                width: auto;
                height: 100%;
                z-index: 2;
                display: block;
                position: absolute;
                max-height: 100%;
                bottom: 1%;
                left: 3%;
            }
        }
        &_mobile {
            width: 100%;
            height: auto;
            display: none;
        }
    }
    &__img-cont {
        max-height: 100%;
        position: relative;
        img.home__img-bg.home__img-bg_person-pretty {
            transition: 1s cubic-bezier(0.86, 0, 0, 1.03);
        }

        img.home__img-bg.home__img-bg_person-maldiv {
            transition: 1s cubic-bezier(0.7, 0.79, 0, 1.06)
        }

        img.home__img-bg.home__img-bg_person-rio {
            transition: 1s cubic-bezier(0.7, 0.79, 0, 1.06)
        }
        
        img.home__img-bg.home__img-bg_person-man {
            transition: 1s cubic-bezier(0.86, 0, 0, 1.03);
        }
        img.home__img-bg.home__img-bg_person-havai {
            transition: 1s cubic-bezier(0.7, 0.79, 0, 1.06)
        }
        img.home__img-bg.home__img-bg_person-girl {
            transition: 1s cubic-bezier(0.86, 0, 0, 1.03);
        }

        &[data-slide-num="1"] {
            img.home__img-bg.home__img-bg_person-pretty {

            }
            img.home__img-bg.home__img-bg_person-maldiv {
                
            }

            img.home__img-bg.home__img-bg_person-rio {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-man {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-girl {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-havai {
                opacity: 0;
            }
        }
        &[data-slide-num="2"] {
            img.home__img-bg.home__img-bg_person-pretty {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-maldiv {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-rio {
            }
            img.home__img-bg.home__img-bg_person-man {
            }
            img.home__img-bg.home__img-bg_person-girl {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-havai {
                opacity: 0;
            }
        }
        &[data-slide-num="3"] {
            img.home__img-bg.home__img-bg_person-pretty {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-maldiv {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-rio {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-man {
                opacity: 0;
            }
            img.home__img-bg.home__img-bg_person-girl {
            }
            img.home__img-bg.home__img-bg_person-havai {
            }
        }
    }
    &.winners-table {
        padding-top: 150px;
    }
    @include adaptive($phone) {
        .img-trs{
            min-height: calc(100vh - 220px);
        }
        &__img-cont {
        }
        &__font-image {
        }
        &__img-bg {
            &_mobile {
                display: block;
                min-width: 600px;
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        &__slider-wrap {
            max-height: 100%;
        }
        .img-trs__img-bg_person-dialog {
            max-height: 132px;
            margin-left: 80px;
            max-width: 1000px;
        }
        .img-trs__img-bg_person-dialog-wrap {
            right: auto;
            left: 0;
            
        }
        .img-trs__img-bg_person-dialog-ship.trs-mob {
            left: auto;
        }
    }
}