.personal-acc {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: linear-gradient(to right, rgba(255, 244, 74, 1) 0%, rgba(255, 252, 210, 1) 50%, rgba(255, 244, 74, 1) 100%);
    @include radial-gradient(#fffcd2, #fff44a);
    .container {
        display: flex;
        justify-content: center;
    }
}