.product {
    width: 100%;
    padding: 0 4rem;
    background: linear-gradient(to right, rgba(255, 244, 74, 1) 0%, rgba(255, 252, 210, 1) 50%, rgba(255, 244, 74, 1) 100%);
    @include radial-gradient(#fffcd2, #fff44a);
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__img-wrap {
        height: 100%;
    }
    &__img {
        max-width: 240px;
        width: 100%;
        img {
            height: 100%;
            width: auto;
            max-height: 500px;
        }
    }
    &__title {
        text-align: center;
        margin: 1rem 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__disc {
        max-width: 330px;
        text-align: center;
        margin-bottom: 1rem;
    }
    .btn_yel {
        padding: 0.4rem 2rem;
    }
    .container_mid {
        position: relative;
    }
    .swiper-slide {
        height: auto;
    }
    @include adaptive(450) {
        &__img {
            text-align: center;
            img {
                height: 50vh;
                min-height: 400px;
            }
        }
    }
}