.rules {
    padding-top: 120px;
    &__container {
        align-items: unset;
    }
    .road-map {
        &__el {
            &:nth-child(even) {
                align-self: flex-end;
            }
            &:nth-child(odd) {
                align-self: flex-start;
            }
        }
    }
    &__container {
        flex-direction: column;
        z-index: 1;
        max-width: 100%;
    }
    .prizes {
        width: 100%;
        &__title {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }
        &__elements {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
        }
        &__img-wrap {
            max-height: 500px;
            height: 100%;

            img {
                max-width: 500px;
                width: 100%;
            }
        }
        &__el {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 2rem;
            width: 100%;
            max-width: 300px;
            transition: 0.5s;
            &:hover {
                transform: scale(1.1);
            }
        }
        &__content {
            text-align: center;
        }
        &__sub {
            text-align: center;
            display: inline-block;
            background-color: $background-color4;
            padding: .5rem;
        }
    }
}