* {
    box-sizing: border-box;
    outline: none 0;
    html .clearfix {
        zoom: 1;
        /* IE6 */
    }
    &:first-child+html .clearfix {
        zoom: 1;
        /* IE7 */
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.maxw120 {
    max-width: 140px;
}

.f {
    display: flex;
}

.f-wr {
    flex-wrap: wrap;
}

.f-sb {
    justify-content: space-between;
}

.pad-t-b {
    padding: 6em 0;
}

.text-c {
    text-align: center;
}

.wrap-full-page {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.height-helper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.question {
    color: $text-color8;
    cursor: pointer;
    &:hover {
        color: darken($text-color8, 20%)
    }
}

.overflow-hidden {
    overflow-y: scroll;
    max-height: 600px;
}

@mixin linear-gradient($args...) {
    background-image: -o-linear-gradient($args);
    background-image: -moz-linear-gradient($args);
    background-image: -webkit-linear-gradient($args);
    background-image: linear-gradient($args);
}

@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}