body {
    font-family: $base-font;
}

.height-helper {
    min-height: 100vh;
}

.content {
    margin-left: 70px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: $container-w;
    padding: 2rem 0;
    margin: 0 auto;
    width: 100%;
    &_big {
        max-width: 2500px;
    }
    &_mid {
        padding: 5rem 0;
        max-width: 1440px;
        width: 100%;
    }
}

.link {
    color: $text-color4;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    padding-left: 2em;
}

// Swiper
.swiper-container {
    width: 100%;
}

.swiper-slid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev {
    position: absolute;
    left: -60px;
    height: 80px;
    width: 60px;
    background-image: unset;
    &:after {
        content: '';
        top: 11px;
        left: 12px;
        position: absolute;
        border-top: 6px solid $btn-color2;
        border-left: 6px solid $btn-color2;
        width: 50px;
        height: 50px;
        transform: rotate(-45deg);
    }
    &:hover {
        &:after {
            border-color: $accent-color2;
        }
    }
}

.swiper-button-next {
    position: absolute;
    right: -60px;
    height: 80px;
    width: 60px;
    background-image: unset;
    &:after {
        content: '';
        top: 11px;
        right: 12px;
        position: absolute;
        border-top: 6px solid $btn-color2;
        border-right: 6px solid $btn-color2;
        width: 50px;
        height: 50px;
        transform: rotate(45deg);
    }
    &:hover {
        &:after {
            border-color: $accent-color2;
        }
    }
}

// tabs 
.tabs {
    li {
        list-style-type: none;
    }
    ul {
        padding-left: unset;
    }
    &__caption {
        display: inline-flex;
        border: 1px solid $background-color4;
        border-radius: 100px;
        overflow: hidden;
    }
    &__item {
        color: $text-color5;
        padding: 0.5rem 3rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.3s ease-out;
        &.active,
        &:hover {
            color: $text-color2;
            background-color: $background-color4;
        }
        .title {
            font-weight: 700;
        }
        .sub {
            font-size: 0.8rem;
        }
        &_litle {
            padding: 0.5rem 1rem;
            line-height: .8;
        }
    }
    &__content {
        display: none;
        &.active {
            display: block;
        }
    }
}

//tables
.table {
    font-weight: 300;
    &__title {
        opacity: 0.5;
        td {
            padding-bottom: 1rem!important;
        }
    }
    td {
        padding: 0 1rem;
    }
    .rejected {
        color: #db6e69;
    }
    .question {
        float: right;
    }
    .confirmed {
        color: #abcb56;
    }
    .summ {
        text-transform: uppercase;
    }
}

//flag + confeti
.bg-confeti-top {
    background-image: url(/img/confeti.svg);
    background-repeat: repeat-x;
    background-size: 1000px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    -ms-background-position-y: -45%;
}
.chekbox {
    height: auto !important;
}
.bg-confeti-bottom {
    background-image: url(/img/confeti.svg);
    background-repeat: repeat-x;
    background-size: 1000px;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -ms-background-position-y: -34%;
}

.bg-flags-top {
    &__flags {
        background-image: url(/img/flags.svg);
        position: absolute;
        top: 0%;
        background-repeat: no-repeat;
        height: 200px;
        width: 500px;
        background-size: 500px;
        &_left {
            transform: rotate(-27deg);
            left: -30px;
        }
        &_centr {
            left: 50%;
            transform: translate(-50%, 0) rotate(-9deg);
            top: -60px;
        }
        &_right {
            right: -55px;
            transform: rotate(14deg);
        }
    }
}
