include ../../node_modules/bemto.pug/bemto
include global/head.pug

body
    //- include blocks/mobile-menu.pug
    .mobile-menu-helper
        .mobile-menu-helper
            .height-helper
                include section/announcement.pug
                include blocks/footer.pug

include global/scripts.pug