include ../../node_modules/bemto.pug/bemto
include global/head.pug

body
    include blocks/mobile-menu.pug
    .mobile-menu-helper
        .height-helper
            include blocks/header.pug
            include section/home.pug
            include blocks/footer.pug

include global/scripts.pug
//- include blocks/popup-reg-check.pug
//- include blocks/popup-upload.pug
//- include blocks/popup-thank.pug
//- include blocks/popup-auth.pug
//- include blocks/popup-thank-reg.pug
include blocks/popup-feedback.pug
//- include blocks/popup-thank-feedback.pug
//- include blocks/popup-edit-profile.pug
//- include blocks/popup-qr-miss.pug
//- include blocks/popup-qr-reject.pug
//- include blocks/popup-check.pug
//- include blocks/popup-registr.pug