include ../../node_modules/bemto.pug/bemto
include global/head.pug

body
    include blocks/mobile-menu.pug
    .mobile-menu-helper
        .height-helper
            include blocks/header.pug
            include section/winners-table.pug
            include blocks/footer.pug

include global/scripts.pug