.blueblock {
    z-index: 0;
    position: relative;
    padding: 0 4rem;
    margin-bottom: 150px;
    background-color: $background-color5;
    min-width: 460px;
    max-width: 780px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-color1;
    &_full {
        max-width: unset;
        padding: 0;
        margin: auto;
        margin-bottom: 140px;
    }
    &__name {
        position: relative;
        font-family: $base-font;
        font-size: 2rem;
        font-weight: 700;
        color: $text-color1;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 1.7rem 0;
        .btn {
            position: absolute;
            right: -9rem;
            top: 0.5rem;
            min-width: unset!important;
            margin: 0;
            padding: 0;
            width: 3rem;
            height: 3rem;
            font-size: 1.5rem;
            &__ico {
                display: flex;
                align-items: center;
                margin: 0 auto;
                padding-left: 3px;
            }
        }
    }
    &__coins {
        display: flex;
    }
    &__coin-amount {
        font-family: $custom-font;
        color: $text-color5;
        padding-top: 0.36em;
        line-height: 0;
        font-size: 235px;
        @media all and (-ms-high-contrast:none) {
            padding-top: 0.63em;
        }
    }
    &__header-title {
        font-family: $custom-font;
        color: $text-color5;
        font-size: 2rem;
    }
    &__table {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    &__table-title {
        color: $text-color4;
        font-weight: 300;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tabs__content {
        color: $text-color1;
        letter-spacing: 1px;
        text-align: left;
    }
    .table {
        .photo {
            padding-bottom: unset;
        }
        td {
            padding-bottom: 1rem;
        }
    }
    .btn {
        min-width: 20px;
        margin: .5rem auto;
    }
    &__background-triangle {
        z-index: -1;
        position: absolute;
        bottom: -100px;
        height: 150px;
        left: 0;
        width: 100%;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            bottom: -150px;
            transform: translate(-50%, 0);
            left: 50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 150px 780px;
            border-color: $background-color5 transparent transparent transparent;
        }
    }
    @include adaptive($phone) {
        padding: 0 1rem;
        min-width: 310px;
        table {
            font-size: 0.4rem;
            margin: 0 auto;
            td {
                padding: 0 1px;
                width: auto;
            }
        }
        .tabs {
            &__item {
                font-size: .5rem;
                .sub {
                    font-size: .4rem;
                }
            }
        }
        &__coins {
            align-items: center;
        }
        &__coin-amount {
            font-size: 5rem;
            margin-top: -1.7rem;
        }
        &__coin-logo {
            width: 50%;
            img {
                width: auto;
                height: 4rem;
            }
        }
        &__name {
            font-size: 1.2rem;
            width: 100%;
            &-text {
                padding-right: 50px;
            }
            .btn {
                right: -8px;
                top: 0;
            }
        }
    }
}