.btn {
    max-width: 400px;
    background: $btn-color;
    border: none;
    border-radius: 100px;
    padding: 1rem 1.8rem;
    cursor: pointer;
    transition: all 230ms ease-in;
    color: $text-color1;
    font-family: $base-font;
    text-transform: uppercase;
    text-decoration: unset;
    font-weight: bold;
    display: flex;
    position: relative;
    letter-spacing: 1px;
    margin: 0 1rem;
    &:hover {
        background: $accent-color;
        border-color: $accent-color;
    }
    &_block {
        width: 100%;
    }
    &_lite {
        background: unset;
        border: 1px solid;
        text-decoration: none;
    }
    &_yel {
        color: $text-color2;
    }
    &_blue {
        background-color: $background-color3;
        &:hover {
            background-color: $accent-color2;
        }
    }
    &__ico {
        padding-left: .4rem;
    }
    &__text {
        width: 100%;
    }
}

.link {
    font-size: 0.87rem;
}