.footer {
    background-color: $background-color6;
    overflow: hidden;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0;
    }
    &__row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5rem;
    }
    &__desc {
        color: #ffffff;
        transition: 0.3s;
        font-size: .8rem;
        margin: 0 1rem;
    }
    &__link {
        color: $text-color1;
        transition: 0.3s;
        text-decoration: none;
        font-size: 0.6rem;
        overflow: hidden;
        margin-bottom: .4rem;
        &_uppercase {
            text-transform: uppercase;
            padding: 0 16px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: 0;
                height: 100%;
                bottom: 0;
                border-right: 1px solid #fff;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
        &_mail,
        &_phone {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: .3rem 1rem;
            i {
                order: -1;
                margin-right: 0.6rem;
            }
        }
        &:hover {
            opacity: 1;
        }
    }
    @include adaptive($tablet) {
        &__link {
            margin-top: 2px;
            &_uppercase {
                &:after {
                    display: none;
                }
            }
        }
    }

    @include adaptive($phone) {
        &__row{
            padding: 0;
        }
    }
}