.header {
    background-color: $background-color5;
    color: $text-color1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 29;
    min-height: 70px;
    &__container {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__choco-logo {
        max-width: 100%;
    }
    &__links-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        &_btn {
            width: 20%;
            justify-content: flex-end;
        }
    }
    &__links-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &_center {
            width: 28%;
            flex-grow: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: -40px;
            a {
                padding: unset;
                border: unset;
            }
        }
        &_right {
            justify-content: flex-start;
        }
    }
    &__link {
        font-size: 1.1rem;
        font-weight: 700;
        color: $text-color1;
        opacity: 0.5;
        transition: 0.3s;
        text-decoration: none;
        margin: .4rem 1rem;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        &_center {
            opacity: 1;
        }
        &_active {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
        // &:after {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 3px;
        //     background-color: $background-color1;
        // }
    }
    &__logo {
        width: 20%;
    }
    &__logo-img {
        max-width: 100%;
    }
    // @include adaptive($netbook) {
    //     &__login-wrap,
    //     &__logo {
    //         width: 20px;
    //         flex-basis: 114px;
    //         min-width: 20px;
    //     }
    //     &__login {
    //         padding: 18px 28px;
    //     }
    // }
    @include adaptive($tablet) {
        &__login {
            padding: 0;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            &:before {
                display: none;
            }
        }
        &__logo-img {
            display: none;
        }
        &__login-ico {
            margin: 0;
        }
        &__login-wrap {
            order: 3;
        }
        &__links-wrap {
            &_left,
            &_right {
                display: none;
            }
        }
        &__logo-img {
            max-width: 100%;
        }
    }
    @include adaptive($phone) {
        .btn {
            width: 50px;
            height: 55px;
            &__text {
                display: none;
            }
            &__ico {
                position: absolute;
                right: 32%;
                top: 36%;
                padding: 0;
            }
        }
    }
}