.img-trs {
    width: 100%;
    position: relative;
    transition: 2s;
    &__img-bg {
        position: absolute;
        &_person-chocolate {
            width: 34%;
            left: 33%;
            bottom: 7%;
            z-index: 19;
        }
        &_person-bgup {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: 10;
        }
        &_person-title {
            position: relative;
            max-width: 100%;
            z-index: 20;
        }
        &_person-havai,
        &_person-rio,
        &_person-spain {
            max-width: 23%;
            max-height: 84%;
            right: 17%;
            bottom: 15%;
            transition: 1s;
            transition-delay: 1s;
            z-index: 11;
            opacity: 0;
        }
        &_person-man,
        &_person-girl,
        &_person-pretty {
            transition: 1s;
            transition-delay: 0.1s;
            max-width: 100%;
            // right: 0;
            left: 22%;
            max-height: 75%;
            bottom: 20%;
            z-index: 11;
            opacity: 0;
        }
        &_person-dialog {
            transition: 1s;
            transition-delay: 0.1s;
            max-width: 100%;
            max-height: 38%;
            bottom: 14%;
            z-index: 19;
            left: 40%;
            transition: 1s;
            transition-delay: 1.5s;
            opacity: 1;
        }
        &_person-dialog-wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: 1s;
            transition-delay: 0.1s;
            max-width: 34%;
            max-height: 100%;
            bottom: 13%;
            z-index: 19;
            left: 5%;
            border-radius: 0 0 0 100%;
            transition: 1s;
            transition-delay: 1.5s;
            opacity: 1;
            overflow: hidden;
        }
    }
    &:not([data-slide-num]) {
        transform: translateY(-100%);
        .img-trs {
            &__img-bg {
                &_person-dialog {
                    right: 300%;
                    transition: 2s;
                }
            }
        }
    }
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        .img-trs {
            &__img-bg {
                &_person-pretty {
                    z-index: 12;
                    opacity: 1;
                    transition-delay: 1s;
                }
                &_person-spain {
                    z-index: 12;
                    opacity: 1;
                    transition-delay: 2s;
                }
                &_person-rio {
                    opacity: 0;
                }
                &_person-man {
                    opacity: 0;
                }
                &_person-girl {
                    opacity: 0;
                }
                &_person-havai {
                    opacity: 0;
                }
            }
        }
    }
    &[data-slide-num="0"] {
        .img-trs {
            &__img-bg {
                &_person-pretty {
                    z-index: 12;
                    opacity: 1;
                    transition-delay: 1s;
                }
                &_person-spain {
                    z-index: 12;
                    opacity: 1;
                    transition-delay: 2s;
                }
                &_person-rio {
                    opacity: 0;
                }
                &_person-man {
                    opacity: 0;
                }
                &_person-girl {
                    opacity: 0;
                }
                &_person-havai {
                    opacity: 0;
                }
            }
        }
    }
    &[data-slide-num="1"] {
        .img-trs {
            &__img-bg {
                &_person-pretty {
                    z-index: 12;
                    opacity: 1;
                }
                &_person-spain {
                    z-index: 12;
                    opacity: 1;
                }
                &_person-rio {
                    opacity: 0;
                }
                &_person-man {
                    opacity: 0;
                }
                &_person-girl {
                    opacity: 0;
                }
                &_person-havai {
                    opacity: 0;
                }
            }
        }
    }
    &[data-slide-num="2"] {
        .img-trs {
            &__img-bg {
                &_person-pretty {
                    opacity: 0;
                }
                &_person-spain {
                    opacity: 0;
                }
                &_person-rio {
                    z-index: 12;
                    opacity: 1;
                }
                &_person-man {
                    z-index: 12;
                    opacity: 1;
                }
                &_person-girl {
                    opacity: 0;
                }
                &_person-havai {
                    opacity: 0;
                }
            }
        }
    }
    &[data-slide-num="3"] {
        .img-trs {
            &__img-bg {
                &_person-pretty {
                    opacity: 0;
                }
                &_person-spain {
                    opacity: 0;
                }
                &_person-rio {
                    opacity: 0;
                }
                &_person-man {
                    opacity: 0;
                }
                &_person-girl {
                    z-index: 12;
                    opacity: 1;
                }
                &_person-havai {
                    z-index: 12;
                    opacity: 1;
                }
            }
        }
    }
    .trs-mob {
        display: none !important;
    }
    @include adaptive($phone) {
        height: 560px;
        .trs-no-mob {
            display: none !important;
        }
        .trs-mob {
            display: block !important;
        }
        &__img-bg {
            &_person-bgup {
                position: relative;
                max-width: 1000px;
                width: 666px;
                min-width: 300%;
                height: auto;
                transform: translateX(-25%);
                position: absolute;
                top: auto;
                bottom: 95px;
            }
            &_person-title {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
            &_person-pretty,
            &_person-man,
            &_person-girl {
                max-width: 380px;
                max-height: 420px;
                left: -90px;
            }
            &_person-chocolate {
                max-width: 70vw;
                width: auto;
                height: auto;
                bottom: 10vw;
                left: 110%;
                transform: translateX(-100%);
            }
            &_person-spain,
            &_person-rio,
            &_person-havai {
                max-width: 155vw;
                right: 0;
                bottom: auto;
                top: 40vh;
                max-height: 24vh;
                display: none;
            }
            &_person-dialog-wrap {
                overflow: visible;
                bottom: auto;
                top: 0;
            }
            &_person-dialog-ship.trs-mob {
                right: -133px;
                bottom: 40vw;
                width: 64vw;
                height: auto;
                z-index: 17;
                transform: rotate(7deg);
            }
            &_person-dialog {
                max-width: 240px;
                left: 0;
                bottom: 0;
                max-height: 176px;
                &.trs-mob {
                    top: 0;
                }
            }
        }
    }
    @include adaptive(550) {
        &__img-bg {
            &_person-chocolate {
                max-width: 380px;
                width: 200%;
                height: auto;
                bottom: 10vw;
            }
            &_person-dialog-ship.trs-mob {
                right: -133px;
                bottom: 200px;
                width: 373px;
                height: auto;
                z-index: 17;
                transform: rotate(7deg);
            }
        }
    }
}

.home {
    .img-trs {
        &__img-bg {
            &_person-dialog {
                left: 16%;
                top: 10%;
                bottom: auto;
                max-height: 50%;
                max-width: 50%;
                opacity: 1;
                transform: scale(1);
                &-ship {
                    max-height: 80%;
                    max-width: 83%;
                    left: 10%;
                    bottom: 10%;
                    transition: 1s;
                    transition-delay: 1s;
                }
            }
            &_person-dialog-wrap {
                right: 5%;
                left: auto;
                max-height: 90%;
                max-width: 32%;
                border-radius: 0 0 100% 0;
                bottom: 10%;
            }
        }
        &:not([data-slide-num]) {
            .img-trs {
                &__img-bg {
                    &_person-dialog {
                        opacity: 0;
                        transform: scale(0.9);
                        &-ship {
                            left: 300%;
                        }
                    }
                }
            }
        }
        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            .img-trs {
                &__img-bg {
                    &_person-dialog {
                        opacity: 1;
                        transition: 0;
                        transform: scale(1);
                        &-ship {
                            left: 0%;
                        }
                    }
                }
            }
        }
    }
}