.lpc-input {
    width: 100%;
    padding: 8px 40px 8px 12px;
    background: none;
    color: $text-color1;
    border: 1px solid $border-color1;
    border-radius: 18px;
    &:focus,
    &:hover {
        border-width: 2px;
        padding: 7px 39px 7px 11px;
        border-color: $border-color2;
        &~.input-img {
            color: $text-color5;
        }
    }
    &_file {
        height: 170px;
        width: 100%;
        z-index: 5;
        opacity: 0;
        border: 1px solid red;
        cursor: pointer;
        &:focus,
        &:hover+.input-file-style {
            border-width: 2px;
            border-color: $border-color2;
            i {
                color: $text-color5;
            }
        }
    }

    &.error {
        background: $background-color2;
    }
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    .input-file-style {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-style: dashed;
        border-width: 2px;
        border-radius: 18px;
        background-color: $background-color3;
        font-size: 3rem;
    }
}

.input-img {
    position: absolute;
    pointer-events: none;
    right: 1rem;
    top: 10px;
    &_btn {
        pointer-events: all;
        cursor: pointer;
        &:hover {
            i {
                color: $text-color5;
            }
        }
        .fa-eye-slash {
            display: none;
            &:before {
                top: -1px;
                position: relative;
            }
        }
        &.show {
            .fa-eye {
                display: none;
            }
            .fa-eye-slash {
                display: block;
            }
        }
    }
}

.input-style {
    font-weight: 300;
    position: relative;
    label span {
        display: block;
        margin-bottom: .2rem;
        text-align: left;
    }
    .mr-b {
        margin-bottom: 1rem;
    }
}

.input-wrapper {
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin: 1rem auto;
}

// Error message style
.error {
    border-width: 2px;
    padding: 7px 39px 7px 11px;
    border-color: $border-color3;
    &+span {
        .error {
            display: block;
            margin-top: .2rem;
            font-size: 0.75rem;
            color: $text-color3;
            background: unset;
        }
    }
    &~.select2 {
        .select2-selection {
            border-width: 2px;
            padding: 7px 39px 7px 11px;
            border: 2px solid $border-color3!important;
            background-color: $background-color2!important;
        }
    }
}

// Custom Select2
.select2 {
    width: 100% !important;
    order: -1;
    .selection {
        width: 100%;
        display: flex;
        align-items: center;
    }
    &-selection {
        width: 100%;
        padding: 8px 40px 8px 12px;
        background-color: unset!important;
        color: $text-color1;
        height: unset!important;
        border: 1px solid $border-color1!important;
        border-radius: 18px!important;
        &__rendered {
            color: $text-color1!important;
            line-height: unset!important;
        }
        &__arrow {
            top: 5px!important;
            right: 38px!important;
            margin-top: -5px\0;
            margin-right: -30px\0;
        }
    }
    &-container {
        &--open {
            .select2-selection {
                border-bottom-left-radius: unset!important;
                border-bottom-right-radius: unset!important;
            }
        }
    }
    &:focus,
    &:hover {
        .select2-selection {
            padding: 7px 39px 7px 11px;
            border: 2px solid $border-color2!important;
        }
        &~.input-img {
            color: $text-color5;
        }
    }
}

// Custom checkbox
.chekbox {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    height: 20px;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding-left: 1.7rem;
    .link {
        font-size: unset;
    }
    input {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        z-index: 1;
        cursor: pointer;
        &:checked~.checkmark:after {
            display: block;
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid #ffc300;
        border-radius: 6px;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 0;
            width: 5px;
            height: 10px;
            border: solid #f3d132;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:hover {
        input~.checkmark {
            background-color: rgba(243, 209, 50, 0.29);
            &:after {
                display: block;
            }
        }
    }
}

// Custom Radio
.radio {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .helper-radio {
        order: 100;
        padding-left: unset!important;
        input {
            display: none!important;
        }
    }
    &:first-child {
        order: 100;
    }
    input {
        position: absolute;
        opacity: 0;
        top: -2px;
        left: 0;
        width: 20px;
        height: 20px;
        z-index: 1;
        cursor: pointer;
        &:checked~.checkmark {
            background: #f3d132;
            box-shadow: inset 0 0 0 3px #2b3988;
        }
    }
    .checkmark {
        position: absolute;
        top: -2px;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid #ffc300;
        border-radius: 100px;
    }
    .input-container {
        display: inline-block;
        padding-left: 1.7rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        cursor: pointer;
        user-select: none;
        height: 20px;
        &:hover {
            input~.checkmark {
                background: #f3d132;
                box-shadow: inset 0 0 0 3px #2b3988;
            }
        }
    }
}

// Показать пароль
.eay {
    position: absolute;
    right: 1px;
    bottom: 8px;
    cursor: pointer;
    .hide {
        display: none;
    }
}

.show {
    .show {
        display: none;
    }
    .hide {
        display: block;
    }
}