$menu-width: 256px;
.menu-btn {
    width: 33px;
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    opacity: 1;
    display: none;
    transition: 0.8s cubic-bezier(0.4, 0.04, 0.41, 1);
    cursor: pointer;
    &__row {
        background-color: #f3d132;
        width: 100%;
        height: 5px;
        border-radius: 3px;
    }
    &_active {
        pointer-events: none;
        opacity: 0;
        height: 0;
        .menu-btn {
            &__row {
                background-color: #fff;
            }
        }
    }
    @include adaptive($tablet) {
        display: flex;
    }
}

.mobile-menu-helper {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    // height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    &_active {
        overflow: hidden;
        margin-left: $menu-width;
        transition: 0.8s cubic-bezier(0.4, 0.04, 0.41, 1);
    }
}

.mobile-menu {
    height: 100%;
    max-height: 100vh;
    width: $menu-width;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #2c3988;
    z-index: 99;
    transition: 0.8s cubic-bezier(0.4, 0.04, 0.41, 1);
    margin-left: - $menu-width;
    box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0);
    &__wrap {
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &:after,
    &:before {
        pointer-events: none;
        z-index: 99;
        content: '';
        display: block;
        position: absolute;
        top: 47px;
        right: -54px;
        width: 28px;
        height: 7px;
        border-radius: 100%;
        opacity: 0;
        transform: rotate(0deg);
        // transition: 0.8s cubic-bezier(0.4, 0.04, 0.41, 1);
        background-color: #f3d132;
    }
    &:after {
        transform: rotate(0deg);
    }
    &_active {
        box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.67);
        margin-left: 0;
        &:after,
        &:before {
            border-radius: 0%;
            background-color: #fff;
            opacity: 1;
            transform: rotate(-405deg);
        }
        &:after {
            transform: rotate(230deg);
        }
    }
    &__links-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__link {
        max-width: 192px;
        opacity: 0.4;
        color: #ffffff;
        font-family: "Myriad Pro";
        font-size: 24px;
        text-decoration: none;
        margin: 24px 42px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        &_center {
            opacity: 1;
        }
        &_active {
            opacity: 1;
        }
    }
    &__login {
        border-radius: 27px;
        background-color: #2b43bd;
        color: #f3d132;
        font-family: "Myriad Pro";
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 14px;
        font-weight: 700;   
        line-height: 16.51px;
        text-transform: uppercase;
        padding: 16px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        &:before {
            content: "войти";
            display: block;
            color: #f3d132; 
        }
        &-ico {
            margin-top: -3px;
            margin-left: 4px;
        }
    }
}