.popup-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .8);
    display: none;
    overflow-y: auto;
    &.open {
        display: block;
    }
    .blueblock {
        text-align: unset;
    }
    .btn {
        width: 100%;
        margin: 1rem 0;
    }
    // .step-1,
    // .step-2 {
    //     display: none;
    // }
}

.popup-position {
    margin: 12vh 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.popup {
    padding: 3rem 0 0px 0px;
    font-family: $base-font;
    color: $text-color1;
    min-width: 300px;
    &__close-btn {
        position: absolute;
        top: -16px;
        right: -16px;
        height: 16px;
        width: 16px;
        background: url(../img/close-btn.png) center no-repeat;
        cursor: pointer;
    }
    &_mini {
        max-width: 300px;
    }
    &__title {
        text-transform: uppercase;
        font-size: 27px;
        color: $text-color1;
        font-weight: 700;
        max-width: 235px;
        margin: 0 auto 30px;
        text-align: center;
        letter-spacing: 0.1em;
        &_full-width {
            max-width: 100%;
        }
    }
    &__step {
        display: block;
        font-size: 0.75rem;
        margin: .4rem 0;
    }
    &__sub {
        display: block;
        font-size: 0.75rem;
    }
    &__desc {
        font-weight: 300;
        margin-bottom: 1rem;
        max-width: 320px;
    }
    &__links {
        margin-top: 2rem;
        .link {
            display: block;
            margin: .8rem 0;
        }
    }
    .btn {
        margin: 1rem auto;
    }
    @include adaptive($phone) {
        min-width: unset;
        &__close-btn {
            right: 0;
        }
    }
    .flex-row {
        .left {
            display: flex;
            img {
                margin-right: 10px;
            }
        }
    }
}