.road-map {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    flex-wrap: wrap;
    &__el {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 30px;
        transition: 0.5s;
        text-decoration: none;
        transform: scale(0.8);
        &:hover {
            transform: scale(0.85);
        }
    }
    &__img-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 237px;
        height: 237px;
        position: relative;
    }
    &__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        &_1 {
            transform: translateX(-46%);
        }
        &_2 {
            transform: translateX(-53%);
        }
        &_3 {
            transform: translateX(-48%);
        }
        &_4 {
            transform: translateX(-51%);
        }
        &_5 {
            transform: translateX(-53%);
        }
    }
    &__num {
        text-align: center;
        color: #f3d132;
        font-size: 3rem;
        margin-top: -30px;
        width: 51px;
        height: 51px;
        padding-top: .2rem;
        border-radius: 100%;
        margin-bottom: 20px;
        background-color: #2c3988;
        font-family: $custom-font;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        max-width: 300px;
    }
    &__title {
        width: 100%;
        color: $text-color6;
        font-family: $custom-font;
        font-size: 2rem;
        margin-bottom: 10px;
    }
    &__text {
        color: #2c3988;
        font-size: 1.3rem;
        max-width: 100%;
        margin: 0;
        &_big-red {
            color: $text-color7;
            font-family: $custom-font;
            font-size: 2rem;
        }
    }
    .btn {
        color: $text-color5;
        width: 100%;
        margin-bottom: 1rem;
        &__text {
            text-align: center;
            width: 100%;
        }
    }
    &_announcement {
        .road-map {
            &__img {
                &_1 {
                    max-width: 100%;
                    bottom: 50%;
                    transform: translateX(-46%) translateY(50%);
                }
            }
            &__content {
                max-width: 425px;
                width: 100%;
            }
        }
    }

    @include adaptive(1366) {
        &__el {
            transform: scale(0.6);
            &:hover {
                transform: scale(0.65);
            }
        }
    }

    @include adaptive(1000) {
        &__el {
            transform: scale(0.9);
            min-width: 280px;
            &:hover {
                transform: scale(0.95);
            }
        }
    }
    @include adaptive($phone) {
        padding: 30px 0;
        &__img-wrap {
            width: 247px;
            height: 247px;
        }
        &__el {
            max-width: 100%;
            min-width: 0;
            transform: scale(1);
            min-width: 50%;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.home {
    .road-map {
        &__el {
            width: 100%;
            max-width: 20%;
        }
    }
}
@include adaptive($phone) {
   
    .announcement {
        .road-map {
            &__el {
                &:nth-child(1) {
                    .road-map__img-wrap {
                        height: 120px;
                    }
                }
            }
        }
    }

}