@import "../../node_modules/normalize.css/normalize.css";
// ------------------
//      BASE VARS
// ------------------
$base-font: "Myriad Pro",
sans-serif;
$custom-font: "Nexa Script",
sans-serif;
$base-color: #000;
$accent-color: #e5af1d;
$accent-color2: #2c3988;
$btn-color: #f3d132;
$btn-color2: #364155;
$text-color1: #fff;
$text-color2: #1a1f71;
$text-color3: #db6e69;
$text-color4: #7dc7f4;
$text-color5: #f3d132;
$text-color6: #2c3988;
$text-color7: #d2232a;
$text-color8: #7dc7f4;
$background-color1: #fff;
$background-color2: #db6e69;
$background-color3: #2b43bd;
$background-color4: #f3d132;
$background-color5: #2c3988;
$background-color6: #364155;
$border-color1: #c2cee5;
$border-color2: #f3d132;
$border-color3: #d2232a;
$border-color4: #00ff55;
$container-w: 1200px;
$phone: '767';
$tablet: '991';
$netbook: '1330';
@import "global/helpers";
@import "global/fonts";
@import "global/layout";
@mixin adaptive($media) {
    @media only screen and (max-width: $media+px) {
        @content;
    }
}

// ------------------------------------
//          T Y P O G R A P H Y
// ------------------------------------
html,
body {
    font-family: $base-font;
    letter-spacing: 1px;
    color: $text-color2;
    &.overflow-hidden {
        overflow: hidden;
    }
}

h1 {
    font-size: 2.75rem;
    font-weight: 300;
}

h3 {
    font-size: 1.3rem;
    font-weight: 300;
}

.title-custom {
    font-family: $custom-font;
    font-size: 1.5rem;
    font-weight: 400;
}

.popup {
    font-family: $base-font;
    &__title {
        font-weight: 500;
    }
}

@include adaptive($tablet) {}

@import "blocks/logo";
@import "blocks/img-trs";
@import "blocks/header";
@import "blocks/mobile-menu";
@import "blocks/lpc-form";
@import "blocks/buttons";
@import "blocks/inputs";
@import "blocks/footer";
@import "blocks/road-map";
@import "blocks/blueblock";
@import "section/home";
@import "section/product";
@import "section/personal-acc";
@import "section/announcement";
@import "section/rules";
@import "section/winners-table";
@import "blocks/popup";