.wrap-full-page.wrap-full-page_announcement
    +b.SECTION.announcement
        +e.slider-wrap
            +e.font-image
                +b.img-trs
                    +e.img-bg_person-dialog-wrap
                        +e.IMG.img-bg_person-pretty(src="/img/announcement/pretty.png")
                        +e.IMG.img-bg_person-man(src="/img/announcement/man.png")
                        +e.IMG.img-bg_person-girl(src="/img/announcement/girl.png")
                        +e.IMG.img-bg_person-dialog(src="/img/announcement/dialog.png").trs-no-mob
                        +e.IMG.img-bg_person-dialog(src="/img/announcement/dialog-mob.png").trs-mob
                    +e.IMG.img-bg_person-chocolate(src="/img/home/chocolate-deck.png")
                    +e.IMG.img-bg_person-title(src="/img/announcement/title-bg.png").trs-no-mob
                    +e.IMG.img-bg_person-title(src="/img/announcement/title-bg-mob.png").trs-mob
                    +e.IMG.img-bg_person-spain(src="/img/announcement/spain.png")
                    +e.IMG.img-bg_person-rio(src="/img/announcement/rio.png")
                    +e.IMG.img-bg_person-havai(src="/img/announcement/hawaii.png")
                    +e.IMG.img-bg_person-bgup(src="/img/announcement/bg_up.png").trs-no-mob
                    +e.IMG.img-bg_person-bgup(src="/img/announcement/bg_up-mob.png").trs-mob
                    +e.IMG.img-bg_person-dialog-ship(src="/img/home/dialog-ship.png").trs-mob
        +e.container.container.container_big
            +b.road-map_announcement
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/lenta-logo.png").img_1
                    +e.content
                        +e.title Купили шоколад Alpen Gold в Ленте?
                        +b.BUTTON.btn_blue
                            +e.text Вам сюда
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/announcement/road-map-2.png").img_2
                    +e.content
                        +e.SPAN.title Купили 3 шоколадки Alpen Gold в других магазинах?
                        +b.BUTTON.btn_yel
                            +e.text Вам сюда
        +b.background-svg
            +e.img_l
            +e.img_r