.wrap-full-page
    +b.SECTION.home
        +e.slider-wrap
            +e.font-image
                +b.img-trs
                    +e.IMG.img-bg_person-pretty(src="/img/home/pretty.png")
                    +e.IMG.img-bg_person-man(src="/img/home/man.png")
                    +e.IMG.img-bg_person-girl(src="/img/home/girl.png")
                    +e.IMG.img-bg_person-chocolate(src="/img/home/chocolate-deck.png")
                    +e.IMG.img-bg_person-bgup(src="/img/home/bg_up.png").trs-no-mob
                    +e.IMG.img-bg_person-bgup(src="/img/announcement/bg_up-mob.png").trs-mob
                    +e.IMG.img-bg_person-dialog-ship(src="/img/home/dialog-ship.png").trs-mob
                    +e.img-bg_person-dialog-wrap
                        +e.IMG.img-bg_person-dialog(src="/img/home/dialog.png").trs-no-mob
                        +e.IMG.img-bg_person-dialog-ship(src="/img/home/dialog-ship.png").trs-no-mob
                        +e.IMG.img-bg_person-dialog(src="/img/announcement/dialog-mob.png").trs-mob
                    +e.IMG.img-bg_person-title(src="/img/home/title-bg.png").trs-no-mob
                    +e.IMG.img-bg_person-title(src="/img/home/title-bg-mob.png").trs-mob
            //- +e.IMG(src="/img/home-slide-mobile.png").img-bg_mobile
        +e.container.container_big
            +b.road-map
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-1.png").img_1
                    +e.content
                        +e.SPAN.num 1
                        +e.title Купи шоколад Alpen Gold
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-2.png").img_2
                    +e.content
                        +e.SPAN.num 2
                        +e.SPAN.title Зарегистрируй чек
                        +b.BUTTON.btn_blue
                            +e.text Зарегистрируй чек
                        +e.P.text с 24 мая по 17 июля 2018 года
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-3.png").img_3
                    +e.content
                        +e.SPAN.num 3
                        +e.SPAN.title Собирай Альпен-коины*
                        +e.P.text 10 рублей в чеке = 1 Альпен-коин
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-4.png").img_4
                    +e.content
                        +e.SPAN.num 4
                        +e.SPAN.title Зарегистрируй чек
                        +e.P.text собравших максимальное количество Альпен-коинов и выиграй 700 баллов на карту Лента
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-5.png").img_5
                    +e.content
                        +e.SPAN.num 5
                        +e.P.text Получи шанс выиграть<br> Главный Приз –
                        +e.P.text_big-red Круиз для всей семьи по Средиземноморью!
