.wrap-full-page
    +b.SECTION.personal-acc
        .container
            +b.blueblock
                +e.name
                    +e.name-text Марченков Андрей
                    +b.BUTTON.btn.btn_yel
                        +e.ico
                            i.fas.fa-pencil-alt
                +e.header
                    +e.coins
                        +e.coin-amount 40
                        +e.coin-logo
                            img(src="img/amount-logo.png")
                    +e.header-title Мои Альпен-коины
                +e.table
                    +e.table-title Турнирная таблица
                    +b.tabs
                        +e.UL.caption
                            +e.item.active Чеки
                            +e.item Призы
                        +e.content.active.overflow-hidden
                            +b.TABLE.table
                                +e.TR.title
                                    td 
                                    td дата
                                    td номер чека
                                    td фото
                                    td cтатус чека
                                    td количество<br>Альпен-коинов
                                tr
                                    td 1.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td на модерации
                                    td 10 коинов
                                
                                tr
                                    td 2.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.rejected отклонен
                                        i.fas.fa-question-circle.question
                                    td 10 коинов
                                
                                tr
                                    td 3.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td на модерации
                                    td 10 коинов
                                
                                tr
                                    td 4.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.confirmed подтвержден
                                    td 10 коинов
                                
                                tr
                                    td 5.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.confirmed подтвержден
                                    td 10 коинов
                                
                                tr
                                    td 6.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.confirmed подтвержден
                                    td 10 коинов
                                
                                tr
                                    td 7.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.confirmed подтвержден
                                    td 10 коинов
                                tr
                                    td 
                                    td 
                                    td 
                                    td 
                                    td 
                                    td.summ Всего<br><b>70 коинов</b>
                        +e.content 
                            +b.TABLE.table
                                +e.TR.title
                                    td 
                                    td приз
                                    td количество<br>Альпен-коинов
                                    td местов<br>в ТОП-100
                                
                                tr
                                    td 1.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 4
                                
                                tr
                                    td 2.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 65 место, Этап 3
                                
                                tr
                                    td 3.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 4
                                
                                tr
                                    td 4.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 4
                                
                                tr
                                    td 5.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 4 место, Этап 2
                                
                                tr
                                    td 6.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 1
                                
                                tr
                                    td 7.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 3

                                +e.TR.title
                                    td 
                                    td приз
                                    td номер чека
                                    td фото
                                
                                tr
                                    td 1.
                                    td Поездка
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")

                            
                
                +b.BUTTON.btn.btn_yel
                    +e.text Загрузить чек
                +b.BUTTON.btn.btn_yel
                    +e.text Войти
                    +e.ico
                        i.fas.fa-sign-in-alt
                +e.background-triangle