.wrap-full-page
    +b.SECTION.product
        .container.container_mid
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="http://lenta.alpengold.me/img/products/product-15.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun3.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="http://lenta.alpengold.me/img/products/product-11.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun2.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun3.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить

            .swiper-button-prev
            .swiper-button-next

                //- <div class="swiper-scrollbar"></div>
            