.wrap-full-page
    +b.SECTION.rules.home
        +b.bg-confeti-top
        +b.bg-flags-top
            +e.flags_left
            +e.flags_centr
            +e.flags_right
        +b.bg-confeti-bottom
        +e.container.container_big.home__container
            +b.road-map
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-1.png").img_1
                    +e.content
                        +e.SPAN.num 1
                        +e.title Купи шоколад Alpen Gold
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-2.png").img_2
                    +e.content
                        +e.SPAN.num 2
                        +e.SPAN.title Зарегистрируй чек
                        +b.BUTTON.btn_blue
                            +e.text Зарегистрируй чек
                        +e.P.text с 24 мая по 17 июля 2018 года
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-3.png").img_3
                    +e.content
                        +e.SPAN.num 3
                        +e.SPAN.title Собирай Альпен-коины*
                        +e.P.text 10 рублей в чеке = 1 Альпен-коин
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-4.png").img_4
                    +e.content
                        +e.SPAN.num 4
                        +e.SPAN.title Попади в Топ-100
                        +e.P.text собравших максимальное количество Альпен-коинов и выиграй 700 баллов на карту Лента
                +e.el
                    +e.img-wrap
                        +e.IMG(src="/img/home/road-map-5.png").img_5
                    +e.content
                        +e.SPAN.num 5
                        +e.P.text Получи шанс выиграть<br> Главный Приз –
                        +e.P.text_big-red Круиз для всей семьи по Средиземноморью!
            +b.prizes
                +e.title Призы
                +e.elements
                    +e.el
                        +e.img-wrap
                            +e.IMG(src="/img/rules/700balov.png").img_1
                        +e.content
                            +e.sub.road-map__title Призы каждые <br>2 недели
                    +e.el
                        +e.img-wrap
                            +e.IMG(src="/img/rules/liner.png").img_2
                        +e.content
                            +e.sub.road-map__title Главный Приз
