.wrap-full-page
    +b.SECTION.winners-table.home
        +b.bg-confeti-top
        +b.bg-flags-top
            +e.flags_left
            +e.flags_centr
            +e.flags_right
        +b.bg-confeti-bottom
        .container
            +b.blueblock_full
                +e.name
                    +e.name-text Турнирная таблица
                .input-wrapper
                        //- Поиск
                        .input-style
                            label
                                span Найди себя
                            .input-container
                                input.lpc-input(type="search" name="" id="lpc-seach")
                                .input-img
                                    i.fas.fa-search
                +e.table
                    +b.tabs
                        +e.content.active.overflow-hidden
                            +b.TABLE.table
                                +e.TR.title
                                    td 
                                    td количество<br>Альпен-коинов
                                    td(width="120") имя пользователя
                                    td телефон
                                    td(width="120") город
                                    td приз
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                +e.table
                    +b.tabs
                        +e.UL.caption
                            +e.item_litle.active
                                .title Этап 1
                                nobr.sub 24.05-06.06
                            +e.item_litle
                                .title Этап 2
                                nobr.sub 07.06-20.06
                            +e.item_litle
                                .title Этап 3
                                nobr.sub 21.06-04.07
                            +e.item_litle
                                .title Этап 4
                                nobr.sub 05.07-18.07
                        +e.content.active.overflow-hidden
                            +b.TABLE.table
                                +e.TR.title
                                    td 
                                    td количество<br>Альпен-коинов
                                    td(width="120") имя пользователя
                                    td телефон
                                    td(width="120") город
                                    td приз
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                                tr
                                    td 1.
                                    td 10 коинов
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td Поездка
                +e.name
                    +e.name-text Обладатель главного приза
                +e.table
                    +b.tabs
                        +e.content.active
                            +b.TABLE.table
                                +e.TR.title
                                    td(width="120") имя пользователя
                                    td телефон
                                    td(width="120") город
                                    td номер чека
                                    td приз
                                tr
                                    td Константин Константинов
                                    td +7 (***) ***-76-76
                                    td Петропавловск-Камчатский
                                    td 9485895-443-3
                                    td Поездка
                                
                
                +e.background-triangle