+b.FOOTER.footer
    +e.container.container
        +e.row
            +e.A(href="mailto:admin@alpengoldjoy.ru").link_mail admin@alpengoldjoy.ru
                i.fas.fa-envelope-open
            +e.A(href="tel:8-800-000-0000").link_phone 8 (800) 000-0000
                i.fas.fa-phone
        +e.row
            +e.A(href="#").link_uppercase ПРАВИЛА АКЦИИ
            +e.A(href="#").link_uppercase ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
            +e.A(href="#").link_uppercase ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
            +e.A(href="#").link_uppercase ИНФОРМАЦИЯ О ДАТАХ ОПРЕДЕЛЕНИЯ ПОБЕДИТЕЛЕЙ
            +e.A(href="#").link_uppercase ИНФОРМАЦИЯ О ДАТЕ РОЗЫГРЫША ГЛАВНОГО ПРИЗА
            +e.A(href="#").link_uppercase ИНФОРМАЦИЯ О ДАТЕ ЗАВЕРШЕНИЯ РЕГИСТРАЦИИ ЧЕКОВ

        +e.row_desc
            +e.desc *Альпен-коин - вымышленная валюта - размещаем на всех страницах
            +e.desc **Dark – темный - размещаем только на тех страницах, где есть шоколад «AD dark» - это Заглушка, Главная, Правила и Призы