+b.HEADER.header
    +e.container.container.container_big
        +e.A(href="#").logo
            +e.IMG(src="/img/lenta-logo.png" alt='ЛЕНТА').logo-img
            +b.menu-btn
                +e.row
                +e.row
                +e.row
        +e.links-container.container
            +e.links-wrap_left
                +e.A(href="/index.html").link_active Главная
                +e.A(href="/product.html").link Продукт
                +e.A(href="/winners.html").link Победители и Турнирная таблица
            +e.links-wrap_center
                +e.A(href="/index.html").link_center
                    +e.choco-logo.IMG(src="/img/choco-logo.png" alt='Alpen Gold')
            +e.links-wrap_right
                +e.A(href="#").link правила и призы
                +e.link.open-popup(data-popup="#feedback") Обратная связь
                +e.A(href="#").link 
        +e.links-container_btn.container
            +b.BUTTON.btn
                +e.text Войти
                +e.ico
                    i.fas.fa-sign-in-alt