+b.mobile-menu
    +e.wrap
        +e.A(href="/home").link_center
            +e.choco-logo.IMG(src="/img/choco-logo.png" alt='Alpen Gold')
        +e.links-wrap
            +e.A(href="/index.html").link_active главная
            +e.A(href="/product.html").link Продукт
            +e.A(href="#").link Победители и Турнирная таблица
            +e.A(href="#").link правила и призы
            +e.A(href="#").link.open-popup(data-popup="#feedback") Обратная связь
            +e.login-wrap
                +b.BUTTON.btn
                    +e.text Войти
                    +e.ico
                        i.fas.fa-sign-in-alt