
.popup-window.open
    FORM(name="registr")
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title регистрация чека
                    +e.sub Все поля обязательны для заполнения
                .input-wrapper.error
                    //- Введите номер чека
                    .input-style
                        label
                            span Номер чека
                        input.lpc-input(type="number" name="" placeholder="" value="" id="lpc-cheknumber" required)
                    .error__text Текст ошибки
                .input-wrapper
                    //- Введите Дата и время покупки
                    .input-style
                        label
                            span Дата и время покупки
                        input.lpc-input(type="number" name="" placeholder="" value="" id="lpc-date" required)
                    .error__text Текст ошибки
                .input-wrapper
                    //- Введите Наименование покупки, перечень продукции
                    .input-style
                        label
                            span Наименование покупки, перечень продукции
                        textarea.lpc-input(type="text" name="" rows="4" placeholder="" value="" id="lpc-productname" required)
                    .error__text Текст ошибки
                .input-wrapper
                    //- Введите Количество приобретенного товара
                    .input-style
                        label
                            span Количество приобретенного товара
                        input.lpc-input(type="number" name="" placeholder="" value="" id="lpc-product-quantity" required)
                    .error__text Текст ошибки
                .input-wrapper
                    //- Введите Сумма покупки в рублях
                    .input-style
                        label
                            span Сумма покупки в рублях
                        input.lpc-input(type="number" name="" placeholder="" value="" id="lpc-sum" required)
                    .error__text Текст ошибки
                .input-wrapper
                    //- Введите ИНН, наименование и адрес торговой точки
                    .input-style
                        label
                            span ИНН, наименование и адрес торговой точки
                        textarea.lpc-input(type="number" name="" rows="4" placeholder="" value="" id="lpc-inn-name" required)
                    .error__text Текст ошибки
                .input-wrapper
                    //- Введите Перетащите чек в область загрузки
                    .input-style
                        label
                            span.mr-b Перетащите чек в область загрузки
                        .input-container
                            input.lpc-input.lpc-input_file(type="file" name="" placeholder="" value="" id="lpc-file" required)
                            .input-file-style
                                i.fas.fa-camera
                    .error__text Текст ошибки
                
                +b.BUTTON.btn_yel 
                    +e.text Загрузить
            +e.background-triangle