
.popup-window#feedback
    FORM(name="feedback")
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Обратная связь
                .input-wrapper
                    //- Введите Фамилия Имя
                    .input-style
                        label
                            span Фамилия Имя
                        .input-container
                            input.lpc-input(type="text" name="name" id="lpc-name" required)
                            .input-img
                                i.fas.fa-user
                .input-wrapper
                    //- Введите E-mail
                    .input-style
                        label
                            span E-mail
                        .input-container
                            input.lpc-input(type="email" name="email" id="lpc-email" required)
                            .input-img
                                i.fas.fa-envelope
                               
                
                .input-wrapper
                    //- Введите Перетащите чек в область загрузки
                    .input-style
                        label
                            span.mr-b Перетащите чек в область загрузки
                        .input-container
                            input.lpc-input.lpc-input_file(type="file" name="" placeholder="" value="" id="lpc-file" required)
                            .input-file-style
                                i.fas.fa-camera
                    .error__text Текст ошибки
                
                +b.BUTTON.btn_yel 
                    +e.text Загрузить
            +e.background-triangle