
.popup-window.open
    FORM(name="registr")
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Редактирование личных данных
                FORM
                    //- Шаг 1
                    .step-1
                        .input-wrapper.error
                            //- Введите Фамилия Имя
                            .input-style
                                label
                                    span Фамилия Имя
                                .input-container
                                    input.lpc-input(type="text" name="" placeholder="" value="" id="lpc-name" required)
                                    .input-img
                                        i.fas.fa-user
                            .error__text Текст ошибки
                        .input-wrapper
                            //- Введите Номер карты лояльности Лента
                            .input-style
                                label
                                    span Номер карты лояльности Лента
                                .input-container
                                    input.lpc-input(type="number" name="" placeholder="" value="" id="lpc-card" required)
                                    .input-img
                                        i.fas.fa-credit-card
                            .error__text Текст ошибки
                        .input-wrapper
                            //- Введите Город
                            .input-style
                                label
                                    span Город
                                .input-container
                                    input.lpc-input(type="text" name="" placeholder="" value="" id="lpc-city" required)
                                    .input-img
                                        i.fas.fa-home
                            .error__text Текст ошибки
                        .input-wrapper
                            //- Введите Новый Пароль
                            .input-style
                                label
                                    span Новый пароль
                                .input-container
                                    input.lpc-input(type="password" name="" placeholder="" value="" id="lpc-pass" required)
                                    +b.input-img_btn.show-pass
                                        i.far.fa-eye
                                        i.far.fa-eye-slash
                            .error__text Текст ошибки
                        .input-wrapper
                            //- Введите Новый Пароль
                            .input-style
                                label
                                    span Повторите новый пароль
                                .input-container
                                    input.lpc-input(type="password" name="" placeholder="" value="" id="lpc-pass" required)
                                    +b.input-img_btn.show-pass
                                        i.far.fa-eye
                                        i.far.fa-eye-slash
                            .error__text Текст ошибки
                        .input-wrapper
                            //- Введите Каптчу
                            .input-style.flex-row 
                                .left
                                    img(src="/img/captcha.png")
                                .right
                                    label
                                        span Введите символы с картинки
                                    .input-container
                                        input.lpc-input(type="text" name="" placeholder="" value="" id="lpc-city" required)
                                        .input-img
                                            i.fas.fa-home
                            .error__text Текст ошибки
                        
                        +b.BUTTON.btn_yel 
                            +e.text сохнарить

            +e.background-triangle