
.popup-window.open
    FORM(name="thankyou")
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Ваше обращение принято
                +e.desc Ожидайте ответа на Вашу электронную почту. Спасибо!
                
                
                +b.BUTTON.btn_yel.close-popup
                    +e.text Понятно
            +e.background-triangle