
.popup-window.open
    FORM(name="edit-personal")
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Загрузите фотографию чека
                .input-wrapper
                    //- Введите номер чека
                    .input-style
                        label
                            span.mr-b Перетащите чек в область загрузки
                        .input-container
                            input.lpc-input.lpc-input_file(type="file" name="" placeholder="" value="" id="lpc-file" required)
                            .input-file-style
                                i.fas.fa-camera
                    .error__text Текст ошибки
                
                +b.BUTTON.btn_yel 
                    +e.text Загрузить
                +e.links
                    A.link(href="#") Инструкция по загрузке чеков с QR-кодом
                    A.link(href="#") Мой чек не содержит QR-код
            +e.background-triangle