
.popup-window#feedback
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Регистрация
                    +e.step шаг 1 из 3
                    +e.sub Все поля обязательны для заполнения
                FORM
                    //- Шаг 1
                    .step-1
                        .input-wrapper
                            //- Введите Фамилия Имя
                            .input-style
                                label
                                    span Фамилия Имя
                                .input-container
                                    input.lpc-input(type="text" name="name" id="lpc-name" required)
                                    .input-img
                                        i.fas.fa-user
                        .input-wrapper
                            //- Введите Номер телефона
                            .input-style
                                label
                                    span Номер телефона
                                .input-container
                                    input.lpc-input(type="text" name="phone" id="lpc-phonenumber" required)
                                    .input-img
                                        i.fas.fa-phone
                        .input-wrapper
                            //- Введите E-mail
                            .input-style
                                label
                                    span E-mail
                                .input-container
                                    input.lpc-input(type="email" name="email" id="lpc-email" required)
                                    .input-img
                                        i.fas.fa-envelope
                        .input-wrapper
                            //- Введите Номер карты лояльности Лента
                            .input-style
                                label
                                    span Номер карты лояльности Лента
                                .input-container
                                    input.lpc-input(type="number" name="card" id="lpc-card" required)
                                    .input-img
                                        i.fas.fa-credit-card
                        .input-wrapper
                            //- Введите Город
                            .input-style
                                label
                                    span Город
                                .input-container
                                    select.js-select-style(id="lpc-city" required)
                                        option(value="") Город
                                        option(value="ms") Москва
                                        option(value="kv") Киев
                                    .input-img
                                        i.fas.fa-home
                        .input-wrapper
                            //- Введите Год рождения
                            .input-stylse
                                label
                                    span Год рождения
                                .input-container
                                    select.js-select-style(id="lpc-birthday" required)
                                        option(value="") Год
                                        option(value="84") 1984
                                        option(value="85") 1985
                                    .input-img
                                        i.fas.fa-birthday-cake
                        .input-wrapper
                            //- Выберите Пол
                            .input-style
                                label
                                    span.mr-b Пол
                                .radio
                                    .input-container.helper-radio
                                        input.lpc-input(type="radio" name="gender" id="lpc-male" required)
                                    .input-container Мужской
                                        input.lpc-input(type="radio" name="gender" id="lpc-famale" required)
                                        .checkmark
                                    .input-container Женский
                                        input.lpc-input(type="radio" name="gender" id="lpc-help" required)
                                        .checkmark
                        +b.BUTTON.btn_yel 
                            +e.text Загрузить
                    //- Шаг 2
                    .step-2
                        .input-wrapper
                            //- Введите Пароль
                            .input-style
                                label
                                    span Придумайте пароль
                                .input-container
                                    input.lpc-input(type="password" name="" id="lpc-pass" required)
                                    +b.input-img_btn.show-pass
                                        i.far.fa-eye
                                        i.far.fa-eye-slash
                        .input-wrapper
                            //- Введите Пароль
                            .input-style
                                label
                                    span Повторите пароль
                                .input-container
                                    input.lpc-input(type="password" name="" id="lpc-pass2" required)
                                    +b.input-img_btn.show-pass
                                        i.far.fa-eye
                                        i.far.fa-eye-slash
                        .input-wrapper
                            //- Соглашение
                            .input-style
                                label
                                    span.mr-b
                                .input-container.chekbox Я согласен с <a class="link" href="#">правилами акции</a>
                                    input.lpc-input(type="checkbox" name="gender" id="lpc-akcti" required)
                                    .checkmark
                                .input-container.chekbox Я согласен на обработку моих персональных данных
                                    input.lpc-input(type="checkbox" name="gender" id="lpc-persinf" required)
                                    .checkmark
                        
                        +b.BUTTON.btn_yel 
                            +e.text Далее

                    //- Шаг 3
                    .step-3
                        .input-wrapper.flex-row 
                            //- Введите Код подтверждения
                            .left.captcha
                                img(src="img/captcha.png")
                            .right.input-style
                                label
                                    span Код подтверждения
                                .input-container
                                    input.lpc-input(type="number" name="" id="lpc-code" required)
                                    .input-img
                                        i.fas.fa-envelope-open
                        +b.BUTTON.btn_yel 
                            +e.text Ок
            +e.background-triangle