
.popup-window.open
    FORM(name="auth")
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Ваш чек отклонён
                +e.desc К сожалению чек уже был ранее загружен, попробуйте загрузить еще один.
                
                +b.BUTTON.btn_yel.close-popup
                    +e.text Понятно       
                +e.links.text-c
                    A.link(href="#") Обратная связь
            +e.background-triangle