
.popup-window.open
    FORM(name="auth")
        +b.blueblock.popup-position
            +b.popup.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Чеки
                
                +b.TABLE.table
                    +e.TR.title
                        td 
                        td дата
                        td номер чека
                        td фото
                        td cтатус чека
                        td количество<br>Альпен-коинов
                    
                    tr
                        td 1.
                        td 12.02
                        td 9485895-443-3
                        td.photo
                            img(src="img/personal-acc/photo.png")
                        td на модерации
                        td 10 коинов
                    
                    tr
                        td 2.
                        td 12.02
                        td 9485895-443-3
                        td.photo
                            img(src="img/personal-acc/photo.png")
                        td.rejected отклонен
                            i.fas.fa-question-circle.question
                        td 10 коинов
                    
                    tr
                        td 3.
                        td 12.02
                        td 9485895-443-3
                        td.photo
                            img(src="img/personal-acc/photo.png")
                        td на модерации
                        td 10 коинов
                    
                    tr
                        td 4.
                        td 12.02
                        td 9485895-443-3
                        td.photo
                            img(src="img/personal-acc/photo.png")
                        td.confirmed подтвержден
                        td 10 коинов
                    
                    tr
                        td 5.
                        td 12.02
                        td 9485895-443-3
                        td.photo
                            img(src="img/personal-acc/photo.png")
                        td.confirmed подтвержден
                        td 10 коинов
                    
                    tr
                        td 6.
                        td 12.02
                        td 9485895-443-3
                        td.photo
                            img(src="img/personal-acc/photo.png")
                        td.confirmed подтвержден
                        td 10 коинов
                    
                    tr
                        td 7.
                        td 12.02
                        td 9485895-443-3
                        td.photo
                            img(src="img/personal-acc/photo.png")
                        td.confirmed подтвержден
                        td 10 коинов
                    tr
                        td 
                        td 
                        td 
                        td 
                        td 
                        td.summ Всего<br><b>70 коинов</b>


                +b.BUTTON.btn_yel.close-popup
                    +e.text Понятно
            +e.background-triangle