
.popup-window
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Авторизация
                FORM
                    .input-wrapper
                        //- Введите E-mail
                        .input-style
                            label
                                span E-mail
                            .input-container
                                input.lpc-input(type="email" name="" placeholder="" value="" id="lpc-pass" required)
                                .input-img
                                    i.fas.fa-envelope
                        .error__text Текст ошибки
                    .input-wrapper
                        //- Введите Пароль
                        .input-style
                            label
                                span Пароль
                            .input-container
                                input.lpc-input(type="password" name="" placeholder="" value="" id="lpc-pass" required)
                                +b.input-img_btn.show-pass
                                    i.far.fa-eye
                                    i.far.fa-eye-slash
                        .error__text Текст ошибки
                                
                +e.links
                    A.link(href="#") Забыли пароль?
                    A.link(href="#") Мой чек не содержит QR-код
                +b.BUTTON.btn_yel 
                    +e.text Войти
                    +e.ico
                        i.fas.fa-sign-in-alt
                +b.BUTTON.btn_yel 
                    +e.text Зарегистрироваться
            +e.background-triangle