
.popup-window.open
    FORM(name="auth")
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Ваш чек не содержит QR-код
                +e.desc Поскольку ваш чек не содержит QR-код, введите, пожалуйста, данные вручную.
                
                +b.BUTTON.btn_yel 
                    +e.text Зарегистрироваться              
                +e.links.text-c
                    A.link(href="#") Обратная связь
            +e.background-triangle