
.popup-window.open
    FORM(name="thankyou")
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Спасибо! Ваш чек отправлен на модерацию
                +e.desc Пожалуйста, дождитесь письма на ваш
                    |   электронный адрес с подтверждением
                    |   регистрации чека. Статус модерации будет
                    |   обновлен в разделе <a class="link" href="#">Мои чеки</a>.
                
                
                +b.BUTTON.btn_yel.close-popup
                    +e.text Понятно
            +e.background-triangle