
.popup-window.open
    FORM(name="thankyou")
        +b.blueblock.popup-position
            +b.popup_mini.lpc-form
                +e.close-btn.close-popup
                +e.H2.title Спасибо!
                +e.desc Ура! Регистрация завершена.
                
                
                +b.BUTTON.btn_yel
                    +e.text войти
            +e.background-triangle