// VARIABLES
- var phone = "8 800 123-45-67";
- var phone_alt = "88001234567";




doctype html
head
    meta(charset='UTF-8')
    title VISA - Газпромнефть FIFA 2018
    meta(name="description", content="")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name="format-detection" content="telephone=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="#299CC4")
    meta(name="apple-mobile-web-app-title", content="")

    meta(property="og:site_name", content="")
    meta(property="og:locale", content="ru_RU")
    meta(property="og:type", content="website")
    meta(property="og:title", content="")
    meta(property="og:image", content="")
    meta(property="og:description", content="")
    meta(property="og:url", content="")

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    link(rel='stylesheet', href='css/main.css')
    link(rel="shortcut icon" href="favicon.ico")