//- ------ M O D A L S   F O R M ---------
.popup#popup_form(style="display:none;")
    include blocks/lpc-form.pug


+b.popup_ty#ty_popup(style="display:none;")
    +e.H3.title Thank you for your application!
    +e.B.subtitle Soon our specialists will contact you and discuss the details!


+b.popup_exit#exit_popup(style="display:none;")
    +e.H3.title Do not hurry to leave!

+b.popup_fail#fail_popup(style="display:none;")
    +e.H3.title Ooops, something went wrong.