//- --------  INCLUDE SCRIPTS  ---------
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
script(src="js/jquery.validate.min.js")
script(src="js/jquery.inputmask.bundle.min.js")
script(src="js/messages_ru.js")
script(src="js/main.js")